<header>
    <div class="header-container">
        <h1>HelpDesk</h1>
        <nav class="navbar-dropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                <a href=""  data-toggle="dropdown"> management (admin) <i class="fas fa-chevron-down"></i> </a>               
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="/users">User</a>
                    <a class="dropdown-item" href="/queue">Queue</a>
                    <a class="dropdown-item" href="/answers">View Question</a>
                    <a class="dropdown-item" href="/report">Report</a>
                  </div>
                </li>
            </ul>
        </nav>
        <nav>
            <ul>
                <i class="fas fa-user-circle custom-size"></i>
                <% if (username) { %> 
                    <!-- แสดงชื่อผู้ใช้เมื่อมีการล็อกอิน -->
                    <li><%= username %></li>
                <% } else { %> 
                    <!-- แสดงปุ่ม login ถ้ายังไม่ได้ล็อกอิน -->
                    <li><a href="/login">Login</a></li>
                <% } %>
            </ul>
        </nav>
    </div>
</header>
