<header>
    <div class="header-container">
        <h1>HelpDesk</h1>
        <nav>
            <ul>
                <i class="fas fa-user-circle custom-size"></i>
                <!-- <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li> -->
            </ul>
        </nav>
    </div>
</header>
