<div class="sidebar">
    <ul>
        <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
        <li><a href="/submit-ticket"><i class="fas fa-ticket-alt"></i> Submit Ticket</a></li>
        <li><a href="/about"><i class="fas fa-info-circle"></i> About</a></li>
        <li><a href="/contact"><i class="fas fa-envelope"></i> Contact</a></li>
    </ul>
</div>