<div class="sidebar">
    <ul>
        <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
        <li><a href="/tickets"><i class="fas fa-ticket-alt"></i>My Tickets</a></li>
        <li><a href="/knowledge"><i class="fas fa-book"></i> Knowledge</a></li>
        <!-- <li><a href="/contact"><i class="fas fa-comments"></i> Contact</a></li> -->
        <li><a href="/logout"><i class="fas fa-sign-out-alt"></i> Log out</a></li>
    </ul>
</div>