<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help Desk Form</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <%- include('partials/header') %>
    <div class="main-container">
        <%- include('partials/sidebar') %>
        <div class="form-content">
            <h1>Submit a new request</h1>
            <form action="/submit-ticket" method="POST">
                <div class="form-group">
                    <label for="Title">Title:</label>
                    <input type="text" id="title" name="title" placeholder="Enter title" required>
                </div>
                <div class="form-group">
                    <label for="Date">Date:</label>
                    <input type="date" id="date" name="date"  >
                </div>
                <div class="form-group">
                    <label for="priority">Priority:</label>
                    <select id="priority" name="priority" required>
                        <option value="low">Low</option>
                        <option value="medium">Medium</option>
                        <option value="high">High</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea id="description" name="description" rows="4" placeholder="Enter description" required></textarea>
                </div>
                <button type="submit">Submit</button>
            </form>

        </div>
    </div>
</body>
</html>
