.main-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    width: 100%;
}

/* สไตล์ของตาราง */
.container {
    width: 70%; /* Reduced width */
    margin-left: 10%; /* Adjusted to move container to the right */
    border-radius: 10px;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
    background-color: #f9f9f9;
}

table {
    width: 100%; /* Set the width of the table to 100% */
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
  }

thead tr {
    background-color: #343a40;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

th, td {
    padding: 15px 20px;
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
    background-color: #f8f9fa;
}

tbody tr:hover {
    background-color: #e9ecef;
}

tbody td {
    color: #495057;
    background-color: transparent; /* Set background color to transparent */
}
