/* สไตล์ของตาราง */
.table-content {
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 1000px; /* ขนาดที่กว้างกว่าสำหรับตาราง */
    width: 100%; /* ให้ตารางกว้างเต็มที่ภายใน max-width */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

thead tr {
    background-color: #1E201E;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

th, td {
    padding: 12px 15px;
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

tbody tr:last-of-type {
    border-bottom: 2px solid #1E201E;
}

tbody td {
    color: #333;
}
